@import url('https://fonts.googleapis.com/css?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel:900|Roboto|Roboto+Condensed&display=swap&subset=devanagari,latin-ext');

/*index*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none
	font-family sans-serif;
	
}


.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #2F4F4F;
	padding: 30px 0;
}

.wrapper .sidebar .admin-info{
	color: #fff;
	
	margin-bottom: 50px;
	margin-top: 15px;
	text-align: center;


}

.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
	color: #DCDCDC;
	display: block;
}

.wrapper .sidebar ul li:hover{
	background: #A9A9A8
}

.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
}

.wrapper .main_content .header{
	padding: 20px;
	background: #32CD32;
	color: #fff;
	font-size: 50px;
	border-bottom: 1px solid #e0e4e8;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 2px 2px black;
}

.wrapper .main_content .notice{
		padding: 50px;
		margin: 100px;
		line-height: 25px;
		background: #D3D3D3;
		box-shadow: 5px 5px #32CD32;

}

.wrapper .image-container{
	width: 70px;
	height: 70px;
	margin: auto;

	
}
.wrapper .image-container img{
		max-width: 100%;
		border-radius: 50px;

	}

/*main*/

.header{
	overflow: hidden;
	background-color: #4169E1;
	padding: 10px 5px;
	position: sticky;
	z-index: 420;
  top: 0;

}

.header img.logo{
	display: block;
	margin-right: auto;
	/* margin-left: auto; */
	/* width: 50%;

    width: 400px;
    height: auto; */


}
.header img.logo{
    width: 95vw;
    height: auto;
	max-width: 420px;

}

.row{
	padding-top: 40px;

	
	
}

.responsive-img{
	width: 1000px;
}


.body-content{

}

.carousel .carousel-item{
  width:100%;
}



.table {
    width:100%;
    min-width: 350px;
    height: 300px; 
    min-height: 200px;
    overflow:auto;
}

table {
    width: 100%;
}

.Admis {
    margin: 25px;
}

.AdmisContent {
    left: 50%;
}

button {
    font-family: sans-serif;
    width: 200px;
    font-size: 20px;
    /* color: black;
    background-color: orange; */
    margin-bottom: 30px;
}

.btn {
	background-color: #4169E1;
}


li {
    list-style-type: none;
}

select { 
    margin: 25px;
    appearance: none; 
    outline: 0; 
    background: whitesmoke; 
    background-image: none; 
    width: 40%;
    min-width: 300px;
    color: black; 
    cursor: pointer; 
    border:1px solid #2196f3;
    font-size: 17px;
    border-radius:5px; 
    overflow: hidden;
} 

input[type="text"], input[type="number"] {
    font-size: 15px;
    line-height: 0.5;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 25px;
}

input[type=date], input[type="radio"]{
    font-size: 16px;
    margin-left: 25px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.categories {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-field input[type="text"]{
    /* border: 1px solid #2196f3;
    border-radius: 5px; */
    width: 90%;
    min-width: 225px;
    max-width: 400px;
    margin-right: 25px;
    text-transform:uppercase;
}

/* input[type="text"]:focus{
    border-bottom: 2px solid orange !important;
} */

input[type="date"]{
    /* border: 1px solid #2196f3;
    border-radius: 5px; */
    max-width: 120px;
    margin-right: 25px;
}

::placeholder {
    color: seagreen;
}

.parents {
    margin-left: 25px;
    margin-bottom: 5px;
}

.LastSchool input[type="text"]{
    width: 90%;
    min-width: 225px;
    max-width: 400px;
    margin-right: 25px;
}

#CompleteAddress, #LastSchoolAddress, #FatherAddress, #FatherWorkAddress, #MotherAddress, #MotherWorkAddress {
    width: 90%;
    min-width: 225px;
    max-width: 700px;
    margin-right: 10px;
}

.submitton {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.btn {
    margin: 25px;
    font-family: sans-serif;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #4169E1;
}

button[type="submit"] {
    background-color: #26a69a;
    width: 120px;
}

.religion {
    margin-bottom: 5px;
}

.schoolYear input[type="number"]{
    width: 75px;
    min-width: 50px;
}

#toYear{
    margin-left: 0;
}

h1 {
    margin: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Registered {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(20%);
    font-size: 30px;
}

.Registered .btn {
    margin-left: 0;
    margin-top: 25px;
}

.Registered input[type="text"]{
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

.input-field {
    margin-left: 25px;
}

label {
    color: black;
}

#Reg {
    width: 200px;
}